#container {
  margin-top: 50px;
}

h1 {
  text-align: center;
}

.completed {
    text-decoration: line-through;
}

.todo-list {
  text-align: center;
  font-size: 1.6rem;
  cursor: pointer;
}

.todo-list:hover {
  color: red;
}

#input {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 10px;
}

.link {
  text-align: center;
}