#submitButton {
    margin-top: 10px;
    font-size: 1.6rem;
}

h1 {
    text-align: center;
}

#input {
    font-size: 1.6rem;
}

#todo-text {
    font-size: 1.6rem;
    display: inline;
    background: white;
    width: 65%;
    margin-top: 10px;
}

#container {
    margin-top: 60px;
}

#complete, #remove {
    font-size: 1.6rem;
    margin-top: -10px;
    margin-left: 5px;
}

p.link {
    text-align: center;
}